<!DOCTYPE html>
<html>
    <head>

        <script src="script.js" async>
        </script> 
        
<style type="text/css">
            .navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color:black;
}
p{
    color: black;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;    
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0; 
}

.btn{
    display: inline-block;
    background: orange;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.btn:hover{
    background: blue;
}

.header{
    background: radial-gradient(pink,blue);
}
.cat{
    margin-top: 70px 0;
}
.col-3{
    flex-basis: 30px;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
    border-radius: 20px;

}

.small{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.title{
    text-align: center;
    margin: auto;
    position: relative;
    line-height: 60px;
    color:black;
}
h4{
    color: black;
    font-weight: normal;
}
.col-4{
    font-size: 14px;
    line-height: 1%;
    transition: transform 0.5s;
}
.col-4 img{
    border-radius: 20px;
}
.col-4:hover{
    transform: translate(-5px);
}
.btn1{
    color:green;
}

.offer{
    margin-top: 30px;
    padding: 20px 0;  
}
       

.brands{
    margin: auto;
}
.col-5{
    width: 130px;
}
.col-5 img{
    width: 100px;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

.footer{
    background: black;
    color: white;
    font-size: 14px;
    padding: 40px 0;
    margin-left: -150px;
    margin-right: -150px;
 }

 .footer li{
     list-style: none;
 }

 .footer p{
     color:white
 }
 .footer h3{
     color: wheat;
 }

 .footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
     min-width: 200px;
     margin-bottom: 20px;
 }
 .app-logo{
     margin-top: 20px;
 }
 .app-logo img{
     width: 140px;
 }

 .add{
     margin-left: 40px;
 }

 .footer hr{
     border: none;
     background-color: white;
     height: 1px;
     margin: 20px 0;
 }
 .hl{
     text-align: center;
 }
 .menu{
     width: 28px;
     margin-left: 20px;  
 }



 /* product details */
 .row-2{
     justify-content: space-between;
     margin: 100px auto 50px;
     display: flex;
    }

    select{
        border: 1px solid red;
        padding: 5px;
        width: 200px;
        height: 30px;
        border-radius: 10px;
    }

    .page{
        margin: 0 auto 80px;
    }
    .page span{
        display: inline-block;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        width: 20px;
        margin-left: 10px;
        border-radius: 10px;
    }
    .page span:hover{
        background: blue;
        color: brown;

    }


    .cart-page{
        margin: 80px auto;
    }

    table{
        width: 100%;
    
    }
    .cart-info{
        display: flex;
        flex-wrap: wrap;
    }
    th{
        text-align: left;
        padding: 5px;
        color: white;
        background: orange;
        font-weight: normal
    }
    td{
        padding-top: 5px;
    }
    td input{
        width: 30px;
        height: 20px;
        padding: 5px;
    }

    td a{
        color: red;
        font-size: 14px;
    }
    td img{
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }

    .total-price{
        display: flex;
        justify-content: flex-end;
    }
    .total-price table{
        border-top: 3px solid orange;
        width: 100%;
        max-width: 300px;
    }
    td:last-child{
        text-align: right;
    }
    th:last-child{
        text-align: right;
    }

    .account{
        padding-top: 50px;
        background: radial-gradient(white,pink);
        
    }

    .form-container{
        background: white;
        width: 300px;
        height: 400px;
        position: relative;
        text-align: center;
        padding: 20px 0;
        margin: auto;
        overflow: hidden;
    }
    .form-container span{
        font-weight: bold;
        padding-left: 30px;
        color:black;
        cursor: pointer;
        width: 70px;
        display: inline-block;
    }
    .form-btn{
        display: inline-block;
    }
    .form-container form{
        max-width: 300px;
        padding: 0 20px;
        position: absolute;
        top: 130px;
        transition: transform 1s;

    }
    form input{
        width: 70%;
        height: 30px;
        margin: 10px 0; 
        padding: 0 10px;
        border: 1px solid black;
        border-radius: 25px;
    }

    form .btn{
        width: 50%;
        border: none;
        cursor: pointer;
        margin: 10px 0;
    }
    #Logform{
        left: -400px;
    }
    #Regform{
        left: 0;
    }
    form a{
        font-size: 12px;
    }
    #ind{
        padding-left: 50px;
        width: 60px;
        border: none;
        background: orange;
        height: 3px;
        margin-top: 10px;
        transform: translate(60px);
        transition: transform 1s;
    }

    .btn-add{
        background: rgb(36, 167, 228);
        border-radius: 10px;
        position: fixed;
    }
.quantity{
  position: absolute;
  right: 180px;
  width: 30px;
  height: 20px;
  border: 1px solid green;
  
}
.subtotal{
    position: absolute;
    right: 10px;
    display: flex;
    padding-top: 60px;

}

.total{
    display: flex;
}
 .total-price{
     position: absolute;
     right: 10px;
 }

 .contain img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
 }
 .contain td{
     
 }
 



        </style>
        <meta charset="UTF-8">
        <title>www.ecommers.com</title>
        <link rel="stylesheet" href="style.css">
       
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="shop.png" width="125"> 
                </div>
                <nav>
                    <ul id="menueItems">
                        <li><a href="http://localhost:7000/home">HOME</a></li>
                        <li><a href="http://localhost:7000/product">PRODUCT</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="http://localhost:7000/account">PROFILE</a></li>
                    </ul>
                </nav>
                <a href="http://localhost:7000/cart"><img src="./images/cart.png" width="30" height="30"></a>
                <img src="./images/menu.png" class="menu" onclick="menutoggle">     
            </div>
        </div>
    
<br><br>

    <div class="small">
    <div class="row-2">
        <h2>ALL Procducts</h2>
        <select>
            <option>Default Shorting</option>
            <option>Short by Price</option>
            <option>Short by sale</option>
            <option>Short by ratting</option>
        </select>
    </div>
  
        <div class="row">   
            <div class="col-4">
                <img class="item-img" src="proc-1.jpg.jpg" height="250" width="250">
                <h4  class="item-title">LENOVO i5</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p class="item-price">₹35000</p>
                <button class="btn-add">addTocart</button>
               </div>
               <div class="col-4">
                <img class="item-img" src="proc-2.jpg.webp" height="250" width="250" >
                <h4  class="item-title">INFINIX i3</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p class="item-price">₹67000</p>
                <button class="btn-add">addTocart</button>
               </div>
               <div class="col-4">
                <img class="item-img" src="proc-3.jpg.webp" height="250" width="250">
                <h4  class="item-title">DELL i7 </h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p class="item-price">₹42000</p>
                <button class="btn-add">addTocart</button>
               </div>
               <div class="col-4">
                <img class="item-img" src="proc-4.jpg.webp" height="250" width="250">
                <h4  class="item-title">HP intel core</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p class="item-price">₹52000</p>
                <button class="btn-add">addTocart</button>
               </div>


               <div class="col-4">
                <img class="item-img" src="proc-1.jpg.jpg" height="250" width="250">
                <h4 class="item-title">LENOVO i5</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p class="item-price">₹35000</p>
                <button class="btn-add">addTocart</button>
               </div>
               <div class="col-4">
                <img class="item-img" src="proc-2.jpg.webp" height="250" width="250" >
                <h4 class="item-title">INFINIX i3</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p class="item-price">₹67000</p>
                <button class="btn-add">addTocart</button>
               </div>
               <div class="col-4">
                <img class="item-img" src="proc-3.jpg.webp" height="250" width="250">
                <h4 class="item-title">DELL i7 </h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p class="item-price">₹42000</p>
                <button class="btn-add">addTocart</button>
               </div>
               <div class="col-4">
                <img class="item-img" src="proc-4.jpg.webp" height="250" width="250">
                <h4 class="item-title">HP intel core</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p class="item-price">₹52000</p>
                <button class="btn-add">addTocart</button>
               </div>
            </div><br>
            <div class="page">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>NEXT</span>
             </div>
        
        
             <h2 class="title">Latest products</h2>
        <div class="row">
            <div class="col-4">
                <img class="item-img" src="proc-8.jpg.webp" height="250" width="250">
                <h4 class="item-title">REDMI 9A</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p class="item-price">₹15000</p>
                <button class="btn-add">addTocart</button>
               </div>
               <div class="col-4">
                <img class="item-img" src="proc-5.jpg.webp" height="250" width="250" >
                <h4 class="item-title">REDMI 10</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p class="item-price">₹17000</p>
                <button class="btn-add">addTocart</button>
               </div>
               <div class="col-4">
                <img class="item-img" src="proc-6.jpg.webp" height="250" width="250">
                <h4 class="item-title">XIAOMI 11I</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p class="item-price">₹22000</p>
                <button class="btn-add">addTocart</button>
               </div>
               <div class="item-img" class="col-4">
                <img src="proc-7.jpg.webp" height="250" width="250">
                <h4 class="item-title">MI 11T 5G</h4>
                <p class="btn1">&#9733;&#9733;&#9733;&#9733;</p>
                <p class="item-price">₹27000</p>
                <button class="btn-add">addTocart</button>
               </div>
         </div>

         <div class="cart-items">
            <div class="small-cart-page">
                <table class="contain">
                    <tr>
                        <th>product</th>
                        <th>QNT</th>
                        <th>Subtotal</th>
                    </tr>
                    <tr>
                        <td>
                            <div class="cart-info">
                                <img src="proc-2.jpg.webp">
                                <div>
                                    <p>Lenovo laptop 8GB RAM Intel i5 core</p>
                                    <span class="cart-price">₹1000</span>
                                    <input class="quantity" type="number" value="1">
                                    <button class="btn-remove">REMOVE</button>   
                                </div>
                                
                                    <td class="subtotal">₹1000</td> 
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cart-info">
                                <img src="proc-3.jpg.webp">
                                <div>
                                    <p>HP 6GB RAM Intel i3 core</p>
                                    <span class="cart-price">₹2000</span>
                                    <input class="quantity" type="number" value="1">
                                    <button class="btn-remove">REMOVE</button>
                                </div>
                            </div>
                        </td>
                        <td class="subtotal">₹2000</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="cart-info">
                                <img src="proc-1.jpg.jpg">
                                <div>
                                    <p>DELL laptop 4GB RAM Intel i7 core</p>
                                    <span class="cart-price">₹4000</span>
                                    <input class="quantity" type="number" value="1">
                                    <button class="btn-remove">REMOVE</button>  
                                </div>
                 
                            </div>
                        </td>
                        
                        <td class="subtotal">₹4000</td>
                    </tr>
                </table>
            <hr>
            <div class="total">
               <span>TOTAL</span>
            
               <span class="total-price">₹7000</span>
            </div>
            <hr>
               
                </div>
            </div>
            </div>
            




         <div class="brands">
             <div class="small">
                 <div class="row">
                     <div class="col-5">
                         <img src="log-1.png" >
                     </div>
                        <div class="col-5">
                            <img src="log-2.png" >
                        </div>
                            <div class="col-5">
                                <img src="log-3.png" >
                            </div>
                                <div class="col-5">
                                    <img src="log-4.png" >
                                </div>
                                    <div class="col-5">
                                        <img src="upi.webp" >
                                    </div>
                                
                                </div>
                                </div>
                             </div>

          <div class="footer">
              <div class="container">
                  <div class="row">
                      <div class="footer-col-1">
                          <h3>Download our App</h3>
                          <p>Download APP for Android and IOS mobile phone </p>
                          <div class="app-logo">
                              <img src="./images/play-store.png">
                              <img src="./images/app-store.png">
                          </div>
                      </div>
                      <div class="footer-col-2">
                        <img src="shop.png" width="400">
                        <p>Flipkart Internet Private Limited,Buildings Alyssa, Begonia & Clove Embassy Tech Village, </p>
                    </div>
                    <div class="footer-col-3">
                        <h3 class="add">HELP</h3>
                        <ul>
                            <li>payment</li>
                            <li>shipping</li>
                            <li>FAQ</li>
                            <li>cancellation & Return</li>
                        </ul>
                    </div>
                    <div class="footer-col-4">
                        <h3 class="add">SOCIAL</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Instagram</li>
                            <li>Youtube</li>
                        </ul>
                    </div>
                  </div>
                  <hr>
                  <p class="hl">universal-Store 2022 </p>
              </div>
          </div>                                        
                            
    </body>
</html>